@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 70vh;
}

table, th, td {
    border: solid 2px #003594;
}

table {
    margin: 10px;
    max-height: 600px;
}

.modif {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    background-color: #FFD02B;
    padding: 35px;
    border-radius: 20px;
}

label {
    color: #082A66;
    font-family: 'Nova Slim', cursive;

}

.modif input {
    border-radius: 5px;
}

.modif textarea {
    border-radius: 5px;
}

.box {
    display: block;
    justify-content: space-between;
}

.box2 {
    display: flex;
    justify-content: space-around;
}

.text {
    background-color: #082A66;
    border-radius: 20px;
    color: white;
    height: 100px;
    padding: 25px;
    font-family: 'Nova Slim', cursive;


}

.displayarticle {
    background-color: #082A66;
    padding: 25px;
    font-family: 'Nova Slim', cursive;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.error1 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 1s ease-in-out 2s 1 normal forwards;
}

.confirmation {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 2s ease-in-out 2s 1 normal forwards;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes outro {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
