* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table, th, td {
    border: solid 2px #003594;
}

table {
    margin: 10px;
    max-height: 600px;
}

.modif {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
}
.box{
    display: block;
    justify-content:space-between ;
}

.box2{
    display: flex;
    justify-content: space-around;
}
.error1 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 1s ease-in-out 2s 1 normal forwards;
}

.confirmation {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 2s ease-in-out 2s 1 normal forwards;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes outro {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
