@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error1 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 1s ease-in-out 2s 1 normal forwards;
}

.confirmation {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 2s ease-in-out 2s 1 normal forwards;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes outro {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cardarticle {
    display: flex;
    background-color: #082A66;
    justify-content: space-around;
    width: 982px;
    color: white;
    min-height: 50vh;
    padding: 15px;
    margin-left: 244px;
}
.titre, .corp{
    font-family: 'Nova Slim', cursive;
}