* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #e3dac9;
}

.container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.article {
    border: 2px solid black;
    border-radius: 5px;
}

.article:hover {
    transform: scale(2);
    background-color: #e3dac9;
}

.text {
    font-size: x-large;
    font-weight: bold;

}
.chevron{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.chevron input{
    width: 5%;
    height: 50px;
    background-color: transparent;

}
.gauche{
    background-image: url("../IMAGE/chevron gauche.jpg");
    background-size: contain;
}
.droite{
    background-image: url("../IMAGE/chevron droite.jpg");
    background-size: contain;
}
@font-face {
    font-family: 'Far From';
    src: url('http://localhost/blog/blog/asset/FONT/Far-From Homecoming Updated.otf') format('opentype');
}
.arriere{
    text-align: center;
    line-height: 1.8;
    font-family: "Far From";
    font-size: x-large;
    color: #FF8200;

}

.cache{
    display: none;
}
.catego:hover .cache{
    display: block;
}