@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #082A66;
    text-decoration: none;
    font-family: 'Nova Slim', cursive;

}

.container {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    gap: 50px;
    margin-left: 376px;
    margin-right: 376px;
}

.article {
    width: 225px;
    margin-top: 100px;
    padding: 10px;
    border: 2px solid #082A66;
    border-radius: 5px;
    font-family: 'Nova Slim', cursive;
    background-color: #FFD02B;
    color: #082A66;
}

.titre {
    font-size: 30px;
}


.login, .date {
    width: 200px;
    padding: 10px;
    margin-left: 10px;
}

.article:hover {
    transform: scale(1.5) translate(10%);
}


.chevron {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.chevron input {
    width: 5%;
    background-color: transparent;

}

.bouton {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 180px;
}

.gauche {
    background-image: url("../IMAGE/chevron gauche.jpg");
    background-size: contain;
    width: 100px;
    height: 54px;
    display: block;
    border-radius: 10px;
}

.droite {
    background-image: url("../IMAGE/chevron droite.jpg");
    background-size: contain;
    width: 100px;
    height: 54px;
    display: block;
    border-radius: 10px;
}

.arriere {
    text-align: center;
    line-height: 1.8;
    font-size: x-large;
    color: #082A66;
    font-family: 'Nova Slim', cursive;


}

.cache {
    display: none;
}

.catego {
    margin-top: 50px;
    line-height: 2rem;
    margin-left: 100px;
    list-style: none;
    font-size: 40px;
    font-family: 'Oleo Script Swash Caps', cursive;

}

.catego li {
    list-style: none;
}

.catego li a {
    font-size: 30px;
}

.catego:hover .cache {
    display: block;
}

.login {
    padding: 5px;
    margin-top: 10px;
    border-top: solid 2px black;
}
@media (min-width: 0px) and (max-width: 780px ) {
    .container {
        display: grid;
        grid-template-columns: 225px;
        gap: 50px;
        margin-left: 15%;
    }
}