@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
.header{
    width: 100%;
    height: 179px;
    background: #082A66;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 19px;
    padding-right: 10px;
    text-align: center;
}
nav ul.main {
display: flex;
    gap: 19px;
    padding-right: 5px;
}

nav ul li {
    list-style: none;
    display: flex;

}

nav li a {

    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Nova Slim', cursive;
}

nav li a:hover {
    background-color: #FFD100;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    border-radius: 15px;
    top: 35px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #FFD100;
    text-decoration: none;
    background-color: #003594;
    z-index: 10;

}

.dropdown-content a:hover {
    color: #FFA300;
    background-color: #e3dac9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 133px;
    margin-right: auto;
    margin-left: 55px;
}

.deco input {
    color: white;
    border-radius: 5px;
    background: transparent;
    border: none;
    font-size: 30px;
    font-family: 'Nova Slim', cursive;
    width: 200px;
}

.deco input:hover {
    background-color: #FFD100;
}

.bas {
    display: flex;
    background: #082A66;
    align-items: center;

}

.footer ul {
    width: 30%;
    text-align: center;
}

.footer ul li a {
    width: 200px;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;


}

.logobas {
    width: 133px;
    margin-left: auto;
    margin-right: 55px;
}

.projet {
    margin-left: 11%;
    color: white;
    font-family: 'Nova Slim', cursive;


}

i {
    margin-left: 30%;
    color: white;

}
.right{
    text-align: center;
    font-family: 'Nova Slim', cursive;

}
a{
    text-decoration: none;
    color: white;
}
@media (min-width: 0px) and (max-width: 780px ) {
    .header{
        display: flex;
        flex-direction: row-reverse;
    }
    nav ul.main {
        width: 100%;
        height: 179px;
        background: #082A66;
        display: block;
        gap: 0px;
    }
    .logo{
        margin: 0;
    }
    .logobas{
        display: none;
    }

}
