@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


main {
    width: 100%;
}

.welcome {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
    text-align: center;
    padding-top: 5%;
}

main img {
    border: 9px solid #082A66;
    align-self: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

footer {
    width: 100%;
}
a{
    list-style: none;
    color: white;
}

@media (min-width: 320px) and (max-width: 767px) {
    .welcome{
        font-size: 1rem;
        padding-top: 13%;
    }
    main{
        min-height: 50vh;
    }

}