* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    width: 100vw;
    height: auto;

}

main {
    margin-top: 50px;
    width: 100%;
    height: auto;

}

@font-face {
    font-family: 'Far From';
    src: url('http://localhost/blog/blog/asset/FONT/Far-From Homecoming Updated.otf') format('opentype');
}

.error1 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 1s ease-in-out 2s 1 normal forwards;
}

.confirmation {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 2s ease-in-out 2s 1 normal forwards;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes outro {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.titre {
    font-family: "Far From";
    color: #FF8200;
    text-align: center;
    font-size: 3rem;
}

.container {
    display: flex;
    width: 100%;
    gap: 50px;
    padding-top: 50px;

}

.gauche {
    width: 50%;
    height: auto;
}

.inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    gap: 20px;
    color: #FF8200;
    line-height: 1.5rem;
    font-size: x-large;
    font-weight: bold;
    font-family: "Far From", serif;
}

.inscription input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black solid 2px;
}

.btn {
    background: transparent;
    border-radius: 15px;
    border-top: solid 1px;
    width: 50%;
}